<div class="content-wrapper" style="min-height: 1126px;">
  <section class="content-header">
    <h1>Edit User </h1>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-dashboard"></i> Home</a>
        <% end %>
      </li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to @user.name, @user %></li>
      <li class="active"><%= link_to "Edit", edit_user_path(@user) %></li>
    </ol>
  </section>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="manage-content panel panel-default">
        <div class="panel-body">
          <%= form_for @user do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            <div class="row">
    		      <div class="col-xs-4 text-center">
                <%= image_tag 'http://robohash.org/sitsequiquia.png?size=120x120',
                  class: 'img-circle avatar avatar-original image_to_upload' %>
                <br/><br/>

                <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
              </div>
              <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-12">
                    <h1 class="only-bottom-margin"><%= @user.name %></h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :mobile %>
                      <%= f.text_field :mobile, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :gender %>
                      <%= f.select :gender, [["--Select Gender"], ["Male", 1], ["Female", 2], ["Other", 3]],
                        {}, {class: "form-control"}%>
                    </div>

                    <div class="form-group">
                      <%= f.label :badminton_level %>
                      <%= f.select :badminton_level, [["--Select Level"], ["Beginner", 1], ["Amateur", 2], ["Professional", 3]],
                        {}, {class: "form-control"}%>
                    </div>

                    <div class="form-group">
                      <%= f.label :main_rackquet %>
                      <%= f.text_field :main_rackquet, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :Role %>
                      <%= f.select :is_admin, [["--Select Role"], ["Admin", true], ["User", false]],
                        {}, {class: "form-control"}%>
                    </div>

                    <%= f.submit "Update", class: "btn btn-primary pull-right" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
