<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://image.ibb.co/iJEvKb/default_user.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= @current_user.name %></p>
        </div>
      </div>
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <%= link_to users_path do %>
            <i class="fa fa-group"></i> <span>Users</span>
          <% end %>
        </li>
        <li>
          <%= link_to clubs_path do %>
            <i class="fa fa-building-o"></i> <span>Clubs</span>
          <% end %>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart"></i> <span>Statistics</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="<%= statistics_users_url %>"><i class="fa fa-group"></i> Users</a>
              </li>
              <li>
                <a href="<%= statistics_clubs_url %>"><i class="fa fa-building-o"></i> Clubs</a>
              </li>
            </ul>
          </li>
        </li>
      </ul>
    </section>
  </aside>
