<!DOCTYPE html>
<html>
  <% if logged_in? %>
    <head>
      <title><%= full_title yield :title %></title>
      <%= render "layouts/rails_default" %>
      <%= render "layouts/shim" %>
    </head>
    <body class="skin-red sidebar-mini">
      <div class="wrapper" style="height: auto; min-height: 100%;">
        <%= render "layouts/header" %>
        <%= render "layouts/sidebar" %>
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{message_type} alert-box" %>
        <% end %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </body>
  <% else %>
    <head>
      <%= render "layouts/rails_default" %>
      <%= render "layouts/head_login" %>
      <%= render "layouts/shim" %>
    </head>
    <body className="login-page">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type} alert-box" %>
      <% end %>
      <%= yield %>
    </body>
  <% end %>
</html>
